

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<h2>Resultado = @ViewBag.resultado1  / @ViewBag.Dividendo & @ViewBag.resultado2 / @ViewBag.Dividendo </h2>  
}

