

@{
    ViewData["Title"] = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    <h1> Resultado = @ViewBag.resultado1 / @ViewBag.Dividendo & @ViewBag.resultado2 / @ViewBag.Dividendo </h1>
}

